<h1> Pipes </h1>

<!--<div>-->
<!--  {{-->
<!--    'hello' | size: 'upper'-->
<!--  }}-->
<!--</div>-->

<!--<div>-->
<!--  {{-->
<!--    100 | currency: 'GBP'-->
<!--  }}-->
<!--</div>-->

<!--<div>-->
<!--  {{-->
<!--  3.145635 | number: '3.1-5'-->
<!--  }}-->
<!--</div>-->

<!--<div>-->
<!--  {{-->
<!--    0.25 | percent-->
<!--  }}-->
<!--</div>-->

<div *ngFor="let user of users | filter: 'age': 19 ">
  <div appRendomColor>
    <div>
      {{
      user.name
      }}
    </div>
    <div>
      {{
      user.age
      }}
    </div>
    <hr>
  </div>
</div>
