<h1> App </h1>

<!--<a routerLink="first">first</a>-->
<!--<br>-->
<!--<a routerLink="second">second</a>-->
<!--<br>-->
<!--&lt;!&ndash;<a [routerLink]="[{outlets: {primary: 'first', xxx: 'second'}}]" > init two outlets </a>&ndash;&gt;-->

<!--<router-outlet></router-outlet>-->

<!--&lt;!&ndash;<router-outlet name="xxx"></router-outlet>&ndash;&gt;-->

  <div #target>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab adipisci amet aperiam asperiores cumque cupiditate
    ex expedita incidunt ipsum labore, modi non perspiciatis porro quam quibusdam repellendus sint sit sunt!
  </div>

<app-first-child></app-first-child>

<app-second-child></app-second-child>
