<!--<div>-->
<!--  {{state}}-->
<!--</div>-->

<!--<input #xxx>-->
<!--<button (click)="ChangeState(xxx)"> save </button>-->

<!--<input [(ngModel)]="state"> //two way binding-->

<!--<form>-->
<!--  <div>-->
<!--    <label> Логин </label>-->
<!--    <input type="text" [(ngModel)]="loginForm.login" name="login">-->
<!--  </div>-->
<!--  <div>-->
<!--    <label> Пароль </label>-->
<!--    <input type="password" [(ngModel)]="loginForm.password" name="password">-->
<!--  </div>-->
<!--</form>-->

<form [formGroup]="forma">
  <div>
    <div>
      <input formControlName="login"/>
    </div>
    <div *ngIf="forma.controls['login'].invalid">
      login is required
    </div>
  </div>
  <div>
    <div>
      <input formControlName="password"/>
    </div>
    <div *ngIf="forma.controls['password'].invalid">
      pass is required
    </div>
  </div>


<!--  <button (click)="checkState(forma)" [disabled]="forma.invalid"> save </button>-->

</form>
